
body{
    margin: 0;
    padding: 0;

}

.dashboard{

}
.header{
    background: dodgerblue;
    width : 240px;
    height: 1000px;
    padding-top: 10px;
}
.container{

}
.container-left{

}
.menu-item{
    display: block;
    width: 150px;
    height: 40px;
    margin-left: 20px;
    padding :3px;

    color: white;
    /*background: red;*/
}
.home{
    margin-top: 10px;
    margin-bottom: 30px;
}
.menu-item .icon img{
    display: block;
    float: left;
    height: 20px;
    margin-right: 17px;
}
.button-text{

}

